---
import Card from "./Card.astro";

---
<div class="card-grid">
  <Card 
    title="test card 1" 
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do " 
    buttonType="primary"
    ctaCopy="click me!"
    cardType="secondary"
  />
  <Card 
    title="test card 1" 
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do " 
    buttonType="primary"
    ctaCopy="click me!"
    cardType="secondary"
  />
  <Card 
    title="test card 1" 
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do " 
    buttonType="primary"
    ctaCopy="click me!"
    cardType="secondary"
  />
  <Card 
    title="test card 1" 
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do " 
    buttonType="primary"
    ctaCopy="click me!"
    cardType="secondary"
  />
  <Card 
    title="test card 1" 
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do " 
    buttonType="primary"
    ctaCopy="click me!"
    cardType="secondary"
  />
  <Card 
    title="test card 1" 
    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do " 
    buttonType="primary"
    ctaCopy="click me!"
    cardType="secondary"
  />
</div>