---

---
<aside class="drawer-nav">
  <h3>Drawer Navigation</h3>
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Payslips</a></li>
  </ul>
</aside>