---
---
<style>
  section {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1rem;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  .profile-img img {
    border-radius: 16px;
  }
  .profile-content, .profile-img {
    width: 100%;
  }
  h2 {
    margin: 16px 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
</style>
<section>
  <div class="profile-img">
    <img src="/img/headshot.jpg" alt="Adam Hardie Headshot" width="250" height="250">
  </div>
  <div class="profile-content">
    <h2>Adam Hardie</h2>
    <p>With experience as a software consultant at one of North America's leading banks and his current role as a frontend engineer at one of the largest privately owned companies in Scotland, Adam possesses expertise in Mobile and Web technologies. He has worked with a diverse range of technologies and served clients across various sectors. Demonstrating a consistent ability to rapidly acquire new skills and adapt to emerging technologies, he excels in every project he undertakes.</p>

    <p>For work enquiries, please get in touch <a href="mailto:adam.hardie13@gmail.com">via email</a></p>    
  </div>
</section>