---
import Navbar from "../components/Navbar/Navbar.astro";
import DocHeader from "../components/DocHeader/DocHeader.astro";
import DocFooter from "../components/DocFooter/DocFooter.astro";
import BlogList from "../components/BlogList/BlogList.astro";
---

<html lang="en">
	<head>
		<DocHeader />
		<title>Adam Hardie</title>
	</head>
	<body>
        <h1>Blog</h1>
        <Navbar/>
        <BlogList />
        <DocFooter />
	</body>
</html>
