---
import Navbar from "../components/Navbar/Navbar.astro";
import DocHeader from "../components/DocHeader/DocHeader.astro";
import DocFooter from "../components/DocFooter/DocFooter.astro";
import Hero from "../components/Hero/Hero.astro";
import Profile from "../components/Profile/Profile.astro";

---

<html lang="en">
	<head>
		<DocHeader />
		<title>Adam Hardie</title>
		<meta name="description" content="Adam Hardie, professional frontend engineer.">
	</head>
	<body>
		<main>
			<Profile />
		</main>
		<DocFooter />
	</body>
</html>
