---
import Navbar from "../components/Navbar/Navbar.astro";
import DocHeader from "../components/DocHeader/DocHeader.astro";
import DocFooter from "../components/DocFooter/DocFooter.astro";
import Hero from "../components/Hero/Hero.astro";
import Profile from "../components/Profile/Profile.astro";
import Builder from "../components/Builder/Builder.astro";

---

<html lang="en">
	<head>
		<DocHeader />
		<title>Adam Hardie</title>
	</head>
	<body>
		<header>
      <Navbar />
		</header>
		<Builder />
		<DocFooter />
	</body>
</html>
